#file-panel .panel-header {
    background-color: white;
    position: sticky;
    padding-top: 25px;
    top: 0;
    left: 0;
    z-index: 15;
    min-width: 620px;
    box-shadow: 0px 15px 15px #FFFFFF
}
#file-panel .panel-header button#refresh {
    display: none;
}

#file-panel .header-button {
    margin-left: 20px;
	background-color: var(--b1);
}

#file-panel .header-button:hover {
	background-color: var(--b2);
}

#file-panel .padding {
    display: inline-block;
    width: 25px;
    height: 100%;
}

.file-table-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

#file-table {
    display: inline-table;
    width: calc(100% - 25px);
    text-align: left;
    border-collapse: collapse;
}

#file-table th, #file-table td {
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    white-space: nowrap;
    color: var(--b4);
}

#file-table th {
    width: 25%;
    font-weight: 400;
    border-bottom: 1.5px solid var(--b4);
}

#file-table tr {
    width: 25%;
    font-weight: 300;
    border-bottom: 1px solid var(--b3);
}

#file-table td {
    vertical-align: top;
}

#file-table td img {
    width: 200px;
    box-shadow: 0px 2px 15px rgba(113, 121, 143, 0.15);
}

#file-table td a {
    font-size: inherit;
}

#file-table td p {
    font-size: inherit;
    padding-bottom: 2.5px;
}